/* ****************************************** */
/* ================== Fonts ================= */
@font-face {
    font-family: 'IBMPlexMono-Bold';
    src: url('../fonts/IBMPlexMono-Bold.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IBMPlexMono-Medium';
    src: url('../fonts/IBMPlexMono-Medium.woff2') format('woff2'),
        url('../fonts/IBMPlexMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* ========================================== */
/* ****************************************** */