/* ****************************************** */
/* ================== General ================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBMPlexMono-Bold';
}
/* Скролл */
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    background: #060606;
} 
body::-webkit-scrollbar-thumb {
    background: #3a4fd9bb;
    border-radius: 8px;
}
body::-webkit-scrollbar-thumb:hover {
    background: #3a50d9;
}
/* Header */
header{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #060606;
    color: white;
    padding: 15px 0;
    transition: all 0.3s ease;
}
header .logo{
    transform: translate(0, 5px);
}
header .content{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    list-style: none;
    display: flex;
}
header ul li{
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 0.3s ease;
}
header ul li a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
header ul li a:hover{
    color: #3a50d9;
}
header ul li:hover{
    transform: translate(0, -3px) scale(1.1);
}
header ul li.active > a{
    color: #3a50d9;
}
header ul li:first-child.active > a{
    color: white;
}
header ul li:first-child.active:hover > a{
    color: #3a50d9;
}
header.light{
    background: #3a50d9;
}
header.light ul li.active > a{
    color: #060606;
}
header.light ul li a:hover{
    color: #060606;
}
/* Cursor */
body {
    position: relative;
    cursor: url('../images/cursors/myCursor.cur'), auto;
}
a:hover{
    cursor: url('../images/cursors//finger.cur'), auto;  
}
::-moz-selection {
    background-color: #00ff77;
}
::selection {
    background-color: #21da8d;
}
/* ================== Section 1 ================= */
section.one {
    width: 100%;
    height: 100vh;
    position: relative;
}
section.one .bg{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: url(../images/sec1bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section.one .bg .opacity{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #060606a3;
}
section.one .photo{
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
section.one .photo .circle{
    width: 60vw;
    height: 60vw;
    border-radius: 100%;
    background: #060606;
    position: absolute;
    z-index: 1;
    bottom: -20vw;
    right: -25vw;
}
section.one .photo img{
    position: relative;
    z-index: 3;
    width: 22vw;
    float: right;
    transform: translate(-7vw, 5px);
}
section.one .content-block{
    position: relative;
    z-index: 4;
    padding: 10vw 14vw;
}
section.one .content-block .hello{
    font-size: 1vw;
    color: white;
}
section.one .content-block .title{
    font-size: 4vw;
    color: #4057ed;
}
section.one .content-block .printEffect{
    position: relative;
    display: inline;
}
section.one .content-block .printEffect::after{
    content: '';
    position: absolute;
    right: -15px;
    bottom: 15px;
    height: 65px;
    width: 5px;
    background: white;
    animation: 1s print infinite;
}
@keyframes print {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
section.one .content-block ul {
    list-style: none;
    margin-top: 4vw;
}
section.one .content-block ul li{
    color: #e0eff2;
    font: italic bold Georgia, Serif;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;

    font-size: 2.5vw;
    margin-bottom: 0.5vw;
}
section.one .content-block ul li:nth-child(1){
    margin-left: 5vw;
    text-transform: uppercase;
    transition-delay: 1.70s;
}
section.one .content-block ul li:nth-child(2){
    margin-left: 10vw;
    transition-delay: 2.05s;
}
section.one .content-block ul li:nth-child(3){
    margin-left: 17vw;
    transition-delay: 2.40s;
}
section.one .content-block ul li:nth-child(4){
    margin-left: 25vw;
    text-transform: uppercase;
    transition-delay: 2.75s;
}
section.one .goDown{
    position: absolute;
    z-index: 5;
    bottom: 3vw;
    width: 100%;
}
section.one .goDown a{
    cursor: pointer;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 2px white solid;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    transition: 0.5s all ease;
    font-size: 1vw;
    animation: 3s goBtn infinite;
}
@keyframes goBtn {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}
section.one .goDown a:hover{
    transform: translate(0px, 10px);
    color: #3a50d9;
    border: 2px #3a50d9 solid;
    cursor: url('../images/cursors//finger.cur'), auto;
}
/* ================== Section 2 ================= */
section.two{
    background: white;
    color: #060606;
    position: relative;
    padding-top: 80px;
}
/* section name */
section.two .about,
section.three .services,
section.four .portfolio,
section.five .contact{
    position: relative;
    text-align: center;
}
section.two .about h1,
section.three .services h1,
section.four .portfolio h1,
section.five .contact h1{
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6.77vw;
    opacity: 0.1;
    z-index: 2;
}
section.two .about .title,
section.three .services .title,
section.four .portfolio .title,
section.five .contact .title{
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
section.two .about h3,
section.three .services h3,
section.four .portfolio h3,
section.five .contact h3{
    position: absolute;
    z-index: 3;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    color: #3a50d9;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}
section.two .about .line,
section.three .services .line,
section.four .portfolio .line,
section.five .contact .line,
section.five .line-bottom{
    display: flex;
    justify-content: center;
}
section.two .about .line > div,
section.three .services .line > div,
section.four .portfolio .line > div,
section.five .contact .line > div,
section.five .line-bottom > div{
    background: #060606;
    width: 2px;
    height: 60px;
}
/* ------- */
section.two .content{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    color: #060606;
    margin-bottom: 60px;
}
section.two .content p{
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: -1px;
    color: #060606;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
section.two .content .circle{
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background: #3a50d9;
    margin: 0 auto;
    margin-bottom: 10px;
}
section.two .content a{

}
section.two .content h3{
    font-size: 22px;
    color: #3a50d9;
    margin-bottom: 40px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3), 2px 2px 2px rgba(206,89,55,0);
}
section.two .content .skill{
    margin-bottom: 20px;
}
section.two .content .skill .name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
section.two .content .skill .name h4{
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3), 2px 2px 2px rgba(206,89,55,0);
    font-size: 20px;
    letter-spacing: -1px;
}
section.two .content .skill .name .percent{
    font-size: 20px;
    margin: 0;
}
section.two .content .skill .line{
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #3a4fd938;
}
section.two .content .skill .line .progress{
    background: #3a50d9;
    border-radius: 5px;
    height: 100%;
}
section.two .parallax{
    position: relative;
    z-index: 1;
    background: url(../images/sec1bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section.two .parallax::after{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: #060606a3;
    z-index: 2;
}
section.two .parallax-content{
    position: relative;
    z-index: 3;
    padding-top: 40px;
    padding-bottom: 30px;
}
section.two .parallax-content h3{
    text-align: center;
    color: #e0eff2;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
    font-size: 30px;
    margin-bottom: 40px;
}
section.two .parallax-content ul{
    list-style: none;
    margin-left: 30px;
    text-align: center;
}
section.two .parallax-content ul li{
    font-size: 20px;
    letter-spacing: -1px;
    color: white;
    margin-bottom: 5px;
}
section.two .parallax-content ul li:nth-child(1){
    transition-delay: 0.25s;
}
section.two .parallax-content ul li:nth-child(2){
    transition-delay: 0.40s;
}
section.two .parallax-content ul li:nth-child(3){
    transition-delay: 0.55s;
}
section.two .parallax-content ul li:nth-child(4){
    transition-delay: 0.70s;
}
section.two .parallax-content ul li:nth-child(5){
    transition-delay: 0.75s;
}
section.two .parallax-content ul li:nth-child(6){
    transition-delay: 1s;
}
section.two .parallax-content ul li:nth-child(7){
    transition-delay: 1.15s;
}
section.two .parallax-content ul li:nth-child(8){
    transition-delay: 1.30s;
}
/* ================== Section 3 ================= */
section.three{
    background: #060606;
    position: relative;
    padding: 40px 0 100px;
}
section.three .services h1{
    color: white;
}
section.three .services .line > div,
section.five .line-bottom > div{
    background: white;
}
section.three .content-block{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}
section.three .content-block .block{
    position: relative;
    border: 1px solid white;
    padding: 30px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
section.three .content-block .block a{
    text-decoration: none;
    color: white;
}
section.three .content-block img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
section.three .content-block h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
section.three .content-block p{
    font-size: 16px;
    padding: 0 15px;
}
section.three .content-block .line-wrap{
    width: fit-content;
}
section.three .content-block .line{
    position: absolute;
    bottom: 10px;
    left: 40%;
    height: 3px;
    width: 20%;
    background: #3a50d9;
    transition: all 0.3s ease;
}
section.three .content-block .block:hover .line{
    width: 90%;
    left: 15px;
}
section.three .content-block .block:hover{
    transform: scale(1.04);
}
/* ================== Section 4 ================= */
section.four{
    background: white;
    padding: 50px 0 50px;
}
section.four h3.info{
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: -1px;
    color: #060606;
    text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc, 4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee, 7px 6px 1px #cccccc;
}
section.four .projects{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
section.four .projects .project img{
    width: 100%;
}
section.four .projects .project{
    height: 350px;
    transform: rotateY(0deg);
    position: relative;
    cursor: url(../images/cursors/finger.cur), auto;
}
section.four .projects .front{
    transition: all 0.5s ease;
    position: relative;
    z-index: 2;
}
section.four .projects .back{
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
    background: #060606e1;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    backface-visibility: hidden;
    padding: 30px;
}
section.four .projects .project:hover > .front{
    transform: rotateY(180deg);
}
section.four .projects .project:hover > .back{
    transform: rotateY(0deg);
    z-index: 3;
}
section.four .projects .back h4{
    color: #3a50d9;
    font-size: 28px;
    letter-spacing: -1px;
}
section.four .projects .back .line{
    width: 65%;
    height: 1px;
    background: #3a50d9;
    margin: 15px 0;
}
section.four .projects .back p{
    font-size: 18px;
    color: white;
    margin-top: 30px;
    /* letter-spacing: -1px; */

}


/* Основные цвета 
    #3a50d9 - синий
    #060606 - черный
*/
/* ================== Section 5 ================= */
section.five{
    background: #060606;
    padding: 19vw 0 100px;
    position: relative;
    overflow: hidden;
}
section.five .circle-effect{
    position: absolute;
    top: 0;
    height: fit-content;
    background: white;
    border-radius: 0 0 50% 50%;
    width: 120%;
    left: -10%;
    padding-bottom: 30px;
    padding-top: 70px;
}
section.five .info{
    color: #e0eff2;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;    
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}
section.five .content-block{
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
section.five .content-block .info-block{
    display: flex;
    align-items: center;
    color: white;
}
section.five .content-block .info-block .img-wrapper{
    display: flex;
}
section.five .content-block .info-block img{
    width: 26px;
    margin-right: 5px;
}
section.five .content-block .info-block h3{
    margin-left: 10px;
    font-size: 18px;
}
section.five .content-block .line{
    width: 1px;
    height: 20px;
    background: white;
}
section.five .connect-block{
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
}
section.five .connect-block .social{
    max-width: 300px;
    width: 100%;
}
section.five .connect-block .social h3{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
section.five .connect-block .social .inst{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 25px;
}
section.five .connect-block .social .vk{
    display: inline-block;
}
section.five .connect-block .github{
    margin-bottom: 30px;
}
section.five .connect-block .social img{
    width: 30px;
    transition: all 0.3s ease;
}
section.five .connect-block .social img:hover{
    transform: scale(1.3);
}
section.five .connect-block .connect{
    width: 100%;
}
section.five .connect-block .form_item{
    margin-bottom: 30px;
}
section.five .connect-block .form_body{
    position: relative;
}
section.five .connect-block .form_input{
    background: transparent;
    border: 1px solid white;
    width: 100%;
    padding: 10px 15px;
    outline: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}
section.five .connect-block .form_input:focus{
    border: 1px solid #3a50d9;
}
section.five .connect-block .form_input._error{
    border: 1px solid #bf4646;
}
section.five .connect-block textarea{
    width: 100% !important;
    height: 120px;
    resize: none;
}
section.five .connect-block textarea::-webkit-scrollbar {
    width: 8px;
}
section.five .connect-block textarea::-webkit-scrollbar-track {
    background: #060606;
} 
section.five .connect-block textarea::-webkit-scrollbar-thumb {
    background: #3a4fd9bb;
    border-radius: 8px;
}
section.five .connect-block textarea::-webkit-scrollbar-thumb:hover {
    background: #3a50d9;
}
section.five .connect-block button{
    float: right;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.3s ease;
}
section.five .connect-block button:hover{
    cursor: url(../images/cursors/finger.cur), auto;
    background: #3a50d9;
    border: 1px solid #3a50d9;
}
/* ================== Footer ================= */
footer{
    padding: 20px;
}
footer .content{
    text-align: center;
    font-size: 12px;
    letter-spacing: -1px;
}
/* ****************************************** */