/* ****************************************** */
/* ====== This is text onscroll styles ====== */
.element-animation{
    opacity: 0;
    transition: all 1s;
}
.anim-left{
    transform: translate(-14vw, 0px);
}
.anim-right{
    transform: translate(14vw, 0px);
}
.anim-top{
    transform: translate(0, -14vw);
}
.anim-bottom{
    transform: translate(0, 14vw);
}
.element-show{
    opacity: 1;
    transform: translate(0vw, 0px);
}
/* section 5 */
section.four .projects .project.anim-left{
    transform: translate(-14vw, 0px) rotateY(0deg);
}
section.four .projects .project.anim-right{
    transform: translate(14vw, 0px) rotateY(0deg);
}
section.four .projects .project.anim-top{
    transform: translate(0, -14vw) rotateY(0deg);
}
section.four .projects .project.element-show {
    transform: translate(0vw, 0px) rotateY(0deg);
}
/* ========================================== */
/* ****************************************** */


/* 
"...path" ul li:nth-child(1){
    transition-delay: 0.25s;
}
*/